:root{
    --light-color:#F7F8F9;
    --main-color:#a8c9fa;
    --second-color:#f00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lemonada', cursive;
}

/* start nav*/
.navbar {
    background-color: var(--main-color);
    z-index: 1;
}
.navbar .navbar-nav .nav-link, #time{
    color:var(--light-color);
}
.navbar .navbar-nav .nav-link.active ,
.navbar .navbar-nav .nav-link:focus ,
.navbar .navbar-nav .nav-link:hover
{
    color:var(--second-color);
}
/* end nav*/

/* section */
section{
    z-index: 1000;
}
/* section */

/* start settings box */
.settings-box {
    width:200px;
    left: -200px;
    min-height: 100vh;
    transition: 0.3s;
}
.settings-box.open {
    left :0;
}
.settings-box .toggle-settings{
    right: -30px;
    top: 100px;
    cursor: pointer;
}

.settings-box .toggle-settings .fa-gear{
    padding: 8px 0;
    width: 30px;
}

.settings-box .option-box {
padding: 10px;
text-align: center;
background-color: #ddd;
margin: 10px;

}

.settings-box .option-box h4 {
text-align: center;
margin-bottom: 10px;
color: #666;
}

.settings-box .option-box .colors-list{
list-style: none;
text-align: center;
padding: 0;
}

.settings-box .option-box .colors-list li{
width: 25px;
height: 25px;
background-color: #333;
border-radius: 50%;
cursor: pointer;
display: inline-block;
border: 3px solid #ddd;
}

.settings-box .option-box .colors-list li.active {
    border-color: #fff;
}

.settings-box .option-box .colors-list li:first-child{
    background-color: #a8c9fa;
}

.settings-box .option-box .colors-list li:nth-child(2){
    background-color: #427624;
}

.settings-box .option-box .colors-list li:nth-child(3){
    background-color: #762473;
}

.settings-box .option-box .colors-list li:nth-child(4){
    background-color: #847625;
}

.settings-box .option-box .colors-list li:nth-child(5){
    background-color: #4a2192;
}

/* end settings box */